/*----------------
   RESET
----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*----------------
   CONTAINERS
----------------*/
.container {
    max-width: 90rem;
    margin: auto;
}
/*----------------
   SECTIONS
----------------*/
.II-part {
    margin: 1.25rem 0;
}
/*----------------
   BOX
----------------*/
.box {
    padding: .625rem;
    color: #fff;
    text-align: center;
    border: 1px solid white;
    background-color: #006cfa;
}
.box-green {
    background-color: #00e165;
    padding: .9375rem;
    border: 1px solid #006cfa;
}
/*----------------
   CORE
----------------*/
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-1 {
    width: calc(100% / 15 * 1);
}
.col-2 {
    width: calc(100% / 15 * 2);
}
.col-3 {
    width: calc(100% / 15 * 3);
}
.col-4 {
    width: calc(100% / 15 * 4);
}
.col-5 {
    width: calc(100% / 15 * 5);
}
.col-6 {
    width: calc(100% / 15 * 6);
}
.col-7 {
    width: calc(100% / 15 * 7);
}
.col-8 {
    width: calc(100% / 15 * 8);
}
.col-9 {
    width: calc(100% / 15 * 9);
}
.col-10 {
    width: calc(100% / 15 * 10);
}
.col-11 {
    width: calc(100% / 15 * 11);
}
.col-12 {
    width: calc(100% / 15 * 12);
}
.col-13 {
    width: calc(100% / 15 * 13);
}
.col-14 {
    width: calc(100% / 15 * 14);
}
.col-15 {
    width: calc(100% / 15 * 15);
}

/*----------------
   OFFSET
----------------*/
.col-offset-1 {
    margin-left: calc(100% / 15 * 1);
}
.col-offset-2 {
    margin-left: calc(100% / 15 * 2);
}
.col-offset-3 {
    margin-left: calc(100% / 15 * 3);
}
.col-offset-4 {
    margin-left: calc(100% / 15 * 4);
}
.col-offset-5 {
    margin-left: calc(100% / 15 * 5);
}
.col-offset-6 {
    margin-left: calc(100% / 15 * 6);
}
.col-offset-7 {
    margin-left: calc(100% / 15 * 7);
}
.col-offset-8 {
    margin-left: calc(100% / 15 * 8);
}
.col-offset-9 {
    margin-left: calc(100% / 15 * 9);
}
.col-offset-10 {
    margin-left: calc(100% / 15 * 10);
}
.col-offset-11 {
    margin-left: calc(100% / 15 * 11);
}
.col-offset-12 {
    margin-left: calc(100% / 15 * 12);
}
.col-offset-13 {
    margin-left: calc(100% / 15 * 13);
}
.col-offset-14 {
    margin-left: calc(100% / 15 * 14);
}
